<%= form_with(model: car_brand) do |form| %>
  <% if car_brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car_brand.errors.count, "error") %> prohibited this car_brand from being saved:</h2>

      <ul>
        <% car_brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
